.aboutpage{
  
  .find{
    z-index: 10;
    margin-top: -100px;
    position: relative;
  }
  .content{
    color: gray;
    
    img{
      width: 100%;
    }
  }
  @media (max-width:$screen-lg)
  {
    .left{
      p{
        font-size: 12px;
      }
      padding-top: 20px;
    }
    h4{
      font-size: 24px;
    }
  }

  @media (min-width:$screen-lg){
    .content{
      display: flex;
      flex-direction: row-reverse;
    
    }
    .left{
      flex: 1;
      line-height: 2;
      padding-right: 60px;
      p{
        font-size: 15px;
      }
    }
    .right{
      flex: 1;
    }
  }
  @media (min-width:$screen-xl){
    .content{
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 50px;
    }
  }
} 