.home{
  background-image: url('../../public/images/home.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  h1{
    font-size: 215px;
    font-weight: 900;
    color: #fdaa27;
    opacity: 0.34;
  }
  h2{
    font-size: 72px;
    font-weight: 400;
    color: var(--white);
  }
  .title{
    justify-content: center;
    align-items: center;
  }
}